body{
    height: 100%;
    margin: 0;
    background-color: white;
}


header nav{
    width: 100%;
    height: 5vh;
    color: white;
    background-color:black;
    display: flex;
    padding-top: 25px;
    font-family: "Inter", sans-serif;
    
}

header nav li {
    display: inline-block;
    list-style-type: none;
    display: inline-block;
    margin-right: 100px;
    font-size: 14px;
}

header nav li.LOREM {
    margin-right: 40vh;
    margin-left: 5vh;
    font-family: "Passion One", sans-serif;
    font-weight: 400;
  font-style: normal;
}
header nav li.LOREM:hover,
li.Joueur1:hover,
li.Joueur2:hover,
li.LANGUES:hover {
  border-bottom: solid 5px white;
  cursor: pointer;
}


header nav li.Joueur1 {
    margin-right: 7vh;
    margin-left: 20vh;
}

header nav li.Joueur2 {
    
    color: #AF524B;

}

header nav li.Joueur1 a {
    text-decoration: none;
    color: white;

}

header nav li.Joueur2 a {
    text-decoration: none;
    color: white;
}

header nav li.LOREM a {
    text-decoration: none;
    color: white;
}

header nav li.LANGUES a {
    text-decoration: none;
    color: white;
}


header nav li.LANGUES {
    margin-left: 50vh;
    margin-right: 5vh;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}



main section.av {
    background-color: black;
    width: 100%;
    height: 110vh;
    
}

main .ben {
    width: 100%;
    height: 90vh;
    margin: 0;
    background-color: black ;
    
    
}

main .ben img{
    background-size: cover;
    overflow: hidden;
    padding-left: 30vh;
    
}

main .sourir{
    width: 100%;
    height: 110vh;
    display: flex;
    position: relative; 
    margin-bottom: -10vh;
}

main .sourir .barre{
    border: 1px solid black;
    background-color: black;
    width: 2px;
    height: 450px;
    position: absolute;
    left: 80px;
    top: 80px;
    
}

main .sourir .texte-sourir{
    display: block;
    padding-top: 20vh;
    padding-left: 20vh;
}

main .sourir .texte-sourir article.titre{
    font-family: "Passion One", sans-serif;
    font-weight: 600;
   font-style: normal;
   font-size: 40px;
   text-align: left;
}


main .sourir .texte-sourir article.sous-texte-sourir{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size:15px ;
    text-align: left;
}


main .sourir .slider{
    padding-top: 10vh;
    width: 30%;
    height: 10%;
    margin: 0 auto;
    
    
}

main .sourir .img-div{
    
    width: 50%;
    height: 70vh;
    margin: 0 15px;
}

main .sourir .div1{
   background: url(/image/adben1.png) center no-repeat; 
   background-size: cover;
}

main .sourir .div2{
    background: url(../images/adria-n-ben-finalista-en-doha-2019-y-tokio-2021-es-uno-de-los-atletas-llamados-a-liderar-la-actuacio-n-espan-ola-en-eugene-sportmedia.jpeg)  center no-repeat;
    background-size: cover;
 }

 main .force{
    display: flex;
    justify-content: space-evenly;
 }

 main .force img{
    MARGIN-BOTTOM: -242px;
    margin-left: 10vh;
    width: 650px;
}


main .force div{
    display: block;
    margin-top: 7vh;
}

main .force div article.titre-force{
    font-family: "Passion One", sans-serif;
    font-weight: 500;
   font-style: normal;
   font-size: 45px;
   text-align: left;
}

main .force div article.texte-force{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size:15px ;
    text-align: left;
}

main .source{
    clip-path: polygon(51% 44%, 90% 35%, 89% 36%, 51% 46%, 16% 36%, 16% 35%);
    width: 100%;
    height: 90vh;
    display: flex;
    background-color:black;
    position: relative;
}

main .futures{
    display: block;
    position: relative;
    margin-top: -170px;
}

main .futures article.titre1-futures{
    font-family: "Passion One", sans-serif;
    font-weight: 400;
   font-style: normal;
   font-size: 45px;
   text-align: center;
}

main .futures article.texte1-futures{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size:13px ;
    text-align: center;
}

main .futures article.titre2-futures{
    font-family: "Passion One", sans-serif;
    font-weight: 400;
   font-style: normal;
   font-size: 45px;
   text-align: center;
}

main .futures article.texte2-futures{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size:13px ;
    text-align: center;
}

main .video div {
    margin-top: 20vh;
    
}

main .fin{
    display: flex;
    
}


main .fin .texte-fin{
    display: block;
    padding-top: 30vh;
    padding-left: 20vh;
}

main .fin .texte-fin article.titre-fin{
    font-family: "Passion One", sans-serif;
    font-weight: 600;
   font-style: normal;
   font-size: 40px;
   text-align: left;
}


main .fin .texte-fin article.sous-texte-fin{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size:15px ;
    text-align: left;
}


main .fin .slider2{
    padding-top: 30vh;
    width: 25%;
    height: 10%;
    margin: 0 auto;
    margin-bottom: 10vh;
    
    
}

main .fin .img-div0{
    
    width: 30%;
    height: 60vh;
    margin: 0 15px;
}

main .fin .div3{
   background: url(../images/adrian_ben1.jpg) center no-repeat; 
   background-size: cover;
}

main .fin .div4{
    background: url(/image/OUF.png)  center no-repeat;
    background-size: cover;
 }

 main .soyer{
    position: relative;
    font-family: "Passion One", sans-serif;
    font-weight: 600;
   font-style: normal;
   font-size: 20px;
   text-align: left;
   padding-left: 20vh;
   margin-bottom: 15vh;
   margin-top: -20vh;
 }


 footer .footer{
    width: 100%;
    height: 40vh;
    background-color: black;
    margin: 0%;
}

footer .footer .resau{
    display: flex;
    justify-content: center;
    

}

footer .footer .resau img{
    margin-right: 15px;
}

footer .footer .texte-footer{
color: white;
display: flex;
justify-content: center;
justify-content: space-evenly;
}

footer .footer .texte-footer li {
    display: inline-block;
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    

}

footer .footer .texte-footer li.LOREM a{
    text-decoration: none;
    color: white;
}

footer .footer .texte-footer li.Joueur1 a{
    text-decoration: none;
    color: white;
}

footer .footer .texte-footer li.Joueur2 a{
    text-decoration: none;
    color: white;
}

footer .footer .texte-footer li.langues a{
    text-decoration: none;
    color: white;
}

footer .footer .texte-footer li.LANGUES a {
    text-decoration: none;
    color: white;
}

footer .footer .texte-footer li.LOREM:hover {
    border-bottom: solid 5px white;
    cursor: pointer;
  }

/* SSSSSSSSSSSSSSSSSSSSSS---------RESPONSIVE----------SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */

@media screen and (min-width: 320px) and (max-width:1023px) {

   

    header nav {
        padding-top: 10px; 
        
    }
    
    header nav li {
        margin-right: 2vh; 
        margin-left: 2vh; 
        font-size: 12px;
    }

    header nav li.LOREM {
        margin-right: 2vh; 
    }

    header nav li.Joueur1 {
        margin-left: 5vh; 
    }

    header nav li.LANGUES {
        margin-left: 0.5vh; 
    }



    /* Commune à tous les éléments */

main .texte-article {
    font-family: "Passion One", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: left;
}

main .texte-article.sous-article {
    font-family: "Inter", sans-serif;
    font-size: 13px;
}

/* Av */

main section.av {
    background-color: black;
    width: 100%;
    height: 10vh;
    min-height: 100vh;
    padding: 5% 0;
}

main .ben {
    width: 100%;
    height: 50vh;
    background-color: rgb(0, 0, 0);
}

main .ben img {
    width: 100%;
    height: 650px;
    padding: 0 5vw;
}

/* Sourir */

main .sourir {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 10vh;
}

main .sourir .barre {
    width: 0px;
    height: 0;
    background-color: rgb(248, 242, 242);
    
}

main .sourir .texte-sourir {
    padding: 10% 5vw;
    text-align: center;
}

main .sourir .texte-sourir article {
    font-size: 20px;
}

main .sourir .texte-sourir article.sous-texte-sourir {
    font-size: 13px;
}

main .sourir .slider,
main .sourir .img-div {
    width: 90%;
    height: 200px;
    position: relative;
    margin: -15px;
}

/* Force */

main .force {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    padding-bottom: 10vh;
}

main .force img {
    width: 90%;
    height: auto;
    margin: 0 5vw -24vh 5vw;
}

main .force div {
    width: 100%;
    text-align: center;
    margin-top: 5vh;
}

main .force div article {
    font-size: 20px;
}

main .force div article.titre-force {
    font-size: 25px;
}

main .force div article.texte-force {
    font-size: 13px;
}

/* Source */

main .source {
    width: 100%;
    height: auto;
    position: relative;
    background-color: black;
    padding: 5% 0;
}

/* Futures */

main .futures {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -15vh;
}

main .futures article {
    font-size: 20px;
}

main .futures article.titre1-futures,
main .futures article.titre2-futures {
    font-size: 25px;
}

main .futures article.texte1-futures,
main .futures article.texte2-futures {
    font-size: 13px;
}

/* Video */

main .video div {
    width: 100%;
    text-align: center;
    margin-top: 10vh;
}

/* Fin */

main .fin {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .fin .texte-fin {
    padding: 10% 5vw;
    text-align: center;
}

main .fin .texte-fin article {
    font-size: 20px;
}

main .fin .texte-fin article.sous-texte-fin {
    font-size: 13px;
}

main .fin .slider2,
main .fin .img-div0 {
    display: none;


}

main .soyer{
    position: relative;
    font-family: "PassIon One", sans-serif;
    font-weight: 600;
   font-style: normal;
   font-size: 20px;
   text-align: center;
   padding-left: 09vh;
   margin-bottom: 15vh;
   margin-top: 5vh;
   
 }


}






